{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<head>
</head>
<body>
<div class='container'>
    <h1 class='page-header'>{{ results.deck }} <small>Loaded {{ results.games }} games.</small></h1>
    <table class='table table-striped'>
        <tr>
            <th>Card Name</th>
            <th>Cost</th>
            <th>Win / Loss</th>
            <th>Winrate</th>
        </tr>
        {% for r in results.cards %}
        <tr>
            <td>{{ r.name }}</td>
            <td>{{ r.cost }}</td>
            <td>{{ r.wins }} / {{ r.losses }}</td>
            <td>{{ r.winrate }}%</td>
        </tr>
        {% endfor %}
    </table>
    </div>
</body>
